/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    width: 100%;
    margin:0;
    padding:0;
    height: 100%;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* My own styling */
body
{
    display: flex;
    flex-direction: column;
}

.header
{
    width: 100%;
    height: 10vh;
}

.main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}

.game-controls
{
    height: 100%;
    padding: 10px;
}

.game-content
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.board
{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
}

.score-table
{
    padding: 5px;
    display: grid;
    grid-template: 2em 2em 1fr / 1fr 1fr;
    row-gap: 3px;
    border: 3px solid black;
    border-radius: 16px;
    text-align: center;
}

.score-table h1
{
    font-size: 15px;
    grid-column: 1/3;
}

.informations-div 
{
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}


.activePlayer-div, 
.player1-score, .player2-score
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2em;

}

@media(max-width: 660px)
{
    .board
    {
        width: 300px;
        height: 300px;
    }

    .score-table h1
    {
        font-size: 10px;
    }

}




  